<h1>Listing Albums</h1>


  <% if @albums.empty? %>
    <p> <%= 'No Albums Available' %> </p>
    <% else %>
<ul>
  <% @albums.each do |album| %>
    <li class="album"><%= album.title %></li>
    <ul>
      <li class="artist"><%= album.artist %> </li>
      <li class="year"><%= album.year %></li>
    </ul>
  <% end %>
  <% end %>
</ul>


